@font-face {
    font-family: Roboto;
    src: url(font/Roboto-VariableFont_wdth\,wght.ttf);
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

.hero {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    justify-content: center;
    padding: 18px 200px 150px;
}

.hero-links {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.block {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}


.secondary-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 500px;
}

.image img {
    display: block;
    max-width: 800px;
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    margin-right: auto;
}

.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    width: 120px;
    justify-content: center;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 8px;
}

.title {
    text-align: center;
    font-weight: 900;
    font-size: 32px;
    margin: 32px 0px;
}

.item {
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
    background: #1F2937;
    border-radius: 8px;
    margin-top: 8px;
}

.random {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.random img {
    max-width: 150px;
    width: 100%;
    height: 150px;
}

.box-text {
    text-align: center;
}

.middle {
    padding: 0px 200px 150px;
}

.quote {
    background-color: #E5E7EB;
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-inner {
    display: flex;
    flex-direction: column;
    width: 700px;
}
.words {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.autor {
    font-size: 24px;
    font-weight: 700;
    align-self: flex-end;
}

